    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:21
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-albotros-head:before { content: "\f100"; }
.flaticon-ant-eater:before { content: "\f101"; }
.flaticon-baboon-head:before { content: "\f102"; }
.flaticon-bear-head:before { content: "\f103"; }
.flaticon-beaver-head:before { content: "\f104"; }
.flaticon-big-angler:before { content: "\f105"; }
.flaticon-big-bee:before { content: "\f106"; }
.flaticon-big-beetle:before { content: "\f107"; }
.flaticon-big-bug:before { content: "\f108"; }
.flaticon-big-butterfly:before { content: "\f109"; }
.flaticon-big-centipede:before { content: "\f10a"; }
.flaticon-big-crab:before { content: "\f10b"; }
.flaticon-big-dragonflay:before { content: "\f10c"; }
.flaticon-big-flounder:before { content: "\f10d"; }
.flaticon-big-fly:before { content: "\f10e"; }
.flaticon-big-grampus:before { content: "\f10f"; }
.flaticon-big-ladybug:before { content: "\f110"; }
.flaticon-big-mite:before { content: "\f111"; }
.flaticon-big-moray:before { content: "\f112"; }
.flaticon-big-mosquito:before { content: "\f113"; }
.flaticon-big-perch:before { content: "\f114"; }
.flaticon-big-pike:before { content: "\f115"; }
.flaticon-big-piranha:before { content: "\f116"; }
.flaticon-big-salmon:before { content: "\f117"; }
.flaticon-big-scorpio:before { content: "\f118"; }
.flaticon-big-shark:before { content: "\f119"; }
.flaticon-big-shrimp:before { content: "\f11a"; }
.flaticon-big-silverfish:before { content: "\f11b"; }
.flaticon-big-spider:before { content: "\f11c"; }
.flaticon-big-squid:before { content: "\f11d"; }
.flaticon-big-starfish:before { content: "\f11e"; }
.flaticon-big-swordfish:before { content: "\f11f"; }
.flaticon-big-tuna:before { content: "\f120"; }
.flaticon-big-wasp:before { content: "\f121"; }
.flaticon-big-zander:before { content: "\f122"; }
.flaticon-bison-head:before { content: "\f123"; }
.flaticon-boar-head:before { content: "\f124"; }
.flaticon-bulldog-head:before { content: "\f125"; }
.flaticon-butterfly-with-big-wings:before { content: "\f126"; }
.flaticon-capybara-head:before { content: "\f127"; }
.flaticon-cat-head:before { content: "\f128"; }
.flaticon-chameleon-head:before { content: "\f129"; }
.flaticon-chimpanzee-head:before { content: "\f12a"; }
.flaticon-cock-head:before { content: "\f12b"; }
.flaticon-colibri-head:before { content: "\f12c"; }
.flaticon-cow-head:before { content: "\f12d"; }
.flaticon-crane-head:before { content: "\f12e"; }
.flaticon-crocodile-head:before { content: "\f12f"; }
.flaticon-deadlock-head:before { content: "\f130"; }
.flaticon-deer-head:before { content: "\f131"; }
.flaticon-dog-head:before { content: "\f132"; }
.flaticon-dolphin-jumping:before { content: "\f133"; }
.flaticon-dove-head:before { content: "\f134"; }
.flaticon-duck-head:before { content: "\f135"; }
.flaticon-eagle-head:before { content: "\f136"; }
.flaticon-elephant-head:before { content: "\f137"; }
.flaticon-female-sheep-head:before { content: "\f138"; }
.flaticon-fennec-fox-head:before { content: "\f139"; }
.flaticon-fox-head:before { content: "\f13a"; }
.flaticon-frog-head:before { content: "\f13b"; }
.flaticon-giraffe-head:before { content: "\f13c"; }
.flaticon-globe-fish:before { content: "\f13d"; }
.flaticon-goat-head:before { content: "\f13e"; }
.flaticon-gold-fish:before { content: "\f13f"; }
.flaticon-guinea-pig-heag:before { content: "\f140"; }
.flaticon-hedgehog-head:before { content: "\f141"; }
.flaticon-hippopotamus-head:before { content: "\f142"; }
.flaticon-horse-head:before { content: "\f143"; }
.flaticon-hyena-head:before { content: "\f144"; }
.flaticon-kangaroo-head:before { content: "\f145"; }
.flaticon-koala-head:before { content: "\f146"; }
.flaticon-lama-head:before { content: "\f147"; }
.flaticon-lemur-head:before { content: "\f148"; }
.flaticon-lion-head:before { content: "\f149"; }
.flaticon-male-sheep-head:before { content: "\f14a"; }
.flaticon-mink-head:before { content: "\f14b"; }
.flaticon-mole-head:before { content: "\f14c"; }
.flaticon-moose-head:before { content: "\f14d"; }
.flaticon-mouse-head:before { content: "\f14e"; }
.flaticon-ostrich-head:before { content: "\f14f"; }
.flaticon-owl-head:before { content: "\f150"; }
.flaticon-panda-bear-head:before { content: "\f151"; }
.flaticon-parrot-head:before { content: "\f152"; }
.flaticon-penguin-head:before { content: "\f153"; }
.flaticon-pig-head:before { content: "\f154"; }
.flaticon-platypus-head:before { content: "\f155"; }
.flaticon-rabbit-head:before { content: "\f156"; }
.flaticon-raccoon-head:before { content: "\f157"; }
.flaticon-sea-urchin:before { content: "\f158"; }
.flaticon-seal-head:before { content: "\f159"; }
.flaticon-skunk-head:before { content: "\f15a"; }
.flaticon-sloth-head:before { content: "\f15b"; }
.flaticon-snake-head:before { content: "\f15c"; }
.flaticon-snigir-head:before { content: "\f15d"; }
.flaticon-sparrow-head:before { content: "\f15e"; }
.flaticon-squirrel-head:before { content: "\f15f"; }
.flaticon-swan-head:before { content: "\f160"; }
.flaticon-tiger-head:before { content: "\f161"; }
.flaticon-turtle-head:before { content: "\f162"; }
.flaticon-wolf-head:before { content: "\f163"; }
    
    $font-Flaticon-albotros-head: "\f100";
    $font-Flaticon-ant-eater: "\f101";
    $font-Flaticon-baboon-head: "\f102";
    $font-Flaticon-bear-head: "\f103";
    $font-Flaticon-beaver-head: "\f104";
    $font-Flaticon-big-angler: "\f105";
    $font-Flaticon-big-bee: "\f106";
    $font-Flaticon-big-beetle: "\f107";
    $font-Flaticon-big-bug: "\f108";
    $font-Flaticon-big-butterfly: "\f109";
    $font-Flaticon-big-centipede: "\f10a";
    $font-Flaticon-big-crab: "\f10b";
    $font-Flaticon-big-dragonflay: "\f10c";
    $font-Flaticon-big-flounder: "\f10d";
    $font-Flaticon-big-fly: "\f10e";
    $font-Flaticon-big-grampus: "\f10f";
    $font-Flaticon-big-ladybug: "\f110";
    $font-Flaticon-big-mite: "\f111";
    $font-Flaticon-big-moray: "\f112";
    $font-Flaticon-big-mosquito: "\f113";
    $font-Flaticon-big-perch: "\f114";
    $font-Flaticon-big-pike: "\f115";
    $font-Flaticon-big-piranha: "\f116";
    $font-Flaticon-big-salmon: "\f117";
    $font-Flaticon-big-scorpio: "\f118";
    $font-Flaticon-big-shark: "\f119";
    $font-Flaticon-big-shrimp: "\f11a";
    $font-Flaticon-big-silverfish: "\f11b";
    $font-Flaticon-big-spider: "\f11c";
    $font-Flaticon-big-squid: "\f11d";
    $font-Flaticon-big-starfish: "\f11e";
    $font-Flaticon-big-swordfish: "\f11f";
    $font-Flaticon-big-tuna: "\f120";
    $font-Flaticon-big-wasp: "\f121";
    $font-Flaticon-big-zander: "\f122";
    $font-Flaticon-bison-head: "\f123";
    $font-Flaticon-boar-head: "\f124";
    $font-Flaticon-bulldog-head: "\f125";
    $font-Flaticon-butterfly-with-big-wings: "\f126";
    $font-Flaticon-capybara-head: "\f127";
    $font-Flaticon-cat-head: "\f128";
    $font-Flaticon-chameleon-head: "\f129";
    $font-Flaticon-chimpanzee-head: "\f12a";
    $font-Flaticon-cock-head: "\f12b";
    $font-Flaticon-colibri-head: "\f12c";
    $font-Flaticon-cow-head: "\f12d";
    $font-Flaticon-crane-head: "\f12e";
    $font-Flaticon-crocodile-head: "\f12f";
    $font-Flaticon-deadlock-head: "\f130";
    $font-Flaticon-deer-head: "\f131";
    $font-Flaticon-dog-head: "\f132";
    $font-Flaticon-dolphin-jumping: "\f133";
    $font-Flaticon-dove-head: "\f134";
    $font-Flaticon-duck-head: "\f135";
    $font-Flaticon-eagle-head: "\f136";
    $font-Flaticon-elephant-head: "\f137";
    $font-Flaticon-female-sheep-head: "\f138";
    $font-Flaticon-fennec-fox-head: "\f139";
    $font-Flaticon-fox-head: "\f13a";
    $font-Flaticon-frog-head: "\f13b";
    $font-Flaticon-giraffe-head: "\f13c";
    $font-Flaticon-globe-fish: "\f13d";
    $font-Flaticon-goat-head: "\f13e";
    $font-Flaticon-gold-fish: "\f13f";
    $font-Flaticon-guinea-pig-heag: "\f140";
    $font-Flaticon-hedgehog-head: "\f141";
    $font-Flaticon-hippopotamus-head: "\f142";
    $font-Flaticon-horse-head: "\f143";
    $font-Flaticon-hyena-head: "\f144";
    $font-Flaticon-kangaroo-head: "\f145";
    $font-Flaticon-koala-head: "\f146";
    $font-Flaticon-lama-head: "\f147";
    $font-Flaticon-lemur-head: "\f148";
    $font-Flaticon-lion-head: "\f149";
    $font-Flaticon-male-sheep-head: "\f14a";
    $font-Flaticon-mink-head: "\f14b";
    $font-Flaticon-mole-head: "\f14c";
    $font-Flaticon-moose-head: "\f14d";
    $font-Flaticon-mouse-head: "\f14e";
    $font-Flaticon-ostrich-head: "\f14f";
    $font-Flaticon-owl-head: "\f150";
    $font-Flaticon-panda-bear-head: "\f151";
    $font-Flaticon-parrot-head: "\f152";
    $font-Flaticon-penguin-head: "\f153";
    $font-Flaticon-pig-head: "\f154";
    $font-Flaticon-platypus-head: "\f155";
    $font-Flaticon-rabbit-head: "\f156";
    $font-Flaticon-raccoon-head: "\f157";
    $font-Flaticon-sea-urchin: "\f158";
    $font-Flaticon-seal-head: "\f159";
    $font-Flaticon-skunk-head: "\f15a";
    $font-Flaticon-sloth-head: "\f15b";
    $font-Flaticon-snake-head: "\f15c";
    $font-Flaticon-snigir-head: "\f15d";
    $font-Flaticon-sparrow-head: "\f15e";
    $font-Flaticon-squirrel-head: "\f15f";
    $font-Flaticon-swan-head: "\f160";
    $font-Flaticon-tiger-head: "\f161";
    $font-Flaticon-turtle-head: "\f162";
    $font-Flaticon-wolf-head: "\f163";