	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:21
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-albotros-head:before { content: "\f100"; }
.flaticon-ant-eater:before { content: "\f101"; }
.flaticon-baboon-head:before { content: "\f102"; }
.flaticon-bear-head:before { content: "\f103"; }
.flaticon-beaver-head:before { content: "\f104"; }
.flaticon-big-angler:before { content: "\f105"; }
.flaticon-big-bee:before { content: "\f106"; }
.flaticon-big-beetle:before { content: "\f107"; }
.flaticon-big-bug:before { content: "\f108"; }
.flaticon-big-butterfly:before { content: "\f109"; }
.flaticon-big-centipede:before { content: "\f10a"; }
.flaticon-big-crab:before { content: "\f10b"; }
.flaticon-big-dragonflay:before { content: "\f10c"; }
.flaticon-big-flounder:before { content: "\f10d"; }
.flaticon-big-fly:before { content: "\f10e"; }
.flaticon-big-grampus:before { content: "\f10f"; }
.flaticon-big-ladybug:before { content: "\f110"; }
.flaticon-big-mite:before { content: "\f111"; }
.flaticon-big-moray:before { content: "\f112"; }
.flaticon-big-mosquito:before { content: "\f113"; }
.flaticon-big-perch:before { content: "\f114"; }
.flaticon-big-pike:before { content: "\f115"; }
.flaticon-big-piranha:before { content: "\f116"; }
.flaticon-big-salmon:before { content: "\f117"; }
.flaticon-big-scorpio:before { content: "\f118"; }
.flaticon-big-shark:before { content: "\f119"; }
.flaticon-big-shrimp:before { content: "\f11a"; }
.flaticon-big-silverfish:before { content: "\f11b"; }
.flaticon-big-spider:before { content: "\f11c"; }
.flaticon-big-squid:before { content: "\f11d"; }
.flaticon-big-starfish:before { content: "\f11e"; }
.flaticon-big-swordfish:before { content: "\f11f"; }
.flaticon-big-tuna:before { content: "\f120"; }
.flaticon-big-wasp:before { content: "\f121"; }
.flaticon-big-zander:before { content: "\f122"; }
.flaticon-bison-head:before { content: "\f123"; }
.flaticon-boar-head:before { content: "\f124"; }
.flaticon-bulldog-head:before { content: "\f125"; }
.flaticon-butterfly-with-big-wings:before { content: "\f126"; }
.flaticon-capybara-head:before { content: "\f127"; }
.flaticon-cat-head:before { content: "\f128"; }
.flaticon-chameleon-head:before { content: "\f129"; }
.flaticon-chimpanzee-head:before { content: "\f12a"; }
.flaticon-cock-head:before { content: "\f12b"; }
.flaticon-colibri-head:before { content: "\f12c"; }
.flaticon-cow-head:before { content: "\f12d"; }
.flaticon-crane-head:before { content: "\f12e"; }
.flaticon-crocodile-head:before { content: "\f12f"; }
.flaticon-deadlock-head:before { content: "\f130"; }
.flaticon-deer-head:before { content: "\f131"; }
.flaticon-dog-head:before { content: "\f132"; }
.flaticon-dolphin-jumping:before { content: "\f133"; }
.flaticon-dove-head:before { content: "\f134"; }
.flaticon-duck-head:before { content: "\f135"; }
.flaticon-eagle-head:before { content: "\f136"; }
.flaticon-elephant-head:before { content: "\f137"; }
.flaticon-female-sheep-head:before { content: "\f138"; }
.flaticon-fennec-fox-head:before { content: "\f139"; }
.flaticon-fox-head:before { content: "\f13a"; }
.flaticon-frog-head:before { content: "\f13b"; }
.flaticon-giraffe-head:before { content: "\f13c"; }
.flaticon-globe-fish:before { content: "\f13d"; }
.flaticon-goat-head:before { content: "\f13e"; }
.flaticon-gold-fish:before { content: "\f13f"; }
.flaticon-guinea-pig-heag:before { content: "\f140"; }
.flaticon-hedgehog-head:before { content: "\f141"; }
.flaticon-hippopotamus-head:before { content: "\f142"; }
.flaticon-horse-head:before { content: "\f143"; }
.flaticon-hyena-head:before { content: "\f144"; }
.flaticon-kangaroo-head:before { content: "\f145"; }
.flaticon-koala-head:before { content: "\f146"; }
.flaticon-lama-head:before { content: "\f147"; }
.flaticon-lemur-head:before { content: "\f148"; }
.flaticon-lion-head:before { content: "\f149"; }
.flaticon-male-sheep-head:before { content: "\f14a"; }
.flaticon-mink-head:before { content: "\f14b"; }
.flaticon-mole-head:before { content: "\f14c"; }
.flaticon-moose-head:before { content: "\f14d"; }
.flaticon-mouse-head:before { content: "\f14e"; }
.flaticon-ostrich-head:before { content: "\f14f"; }
.flaticon-owl-head:before { content: "\f150"; }
.flaticon-panda-bear-head:before { content: "\f151"; }
.flaticon-parrot-head:before { content: "\f152"; }
.flaticon-penguin-head:before { content: "\f153"; }
.flaticon-pig-head:before { content: "\f154"; }
.flaticon-platypus-head:before { content: "\f155"; }
.flaticon-rabbit-head:before { content: "\f156"; }
.flaticon-raccoon-head:before { content: "\f157"; }
.flaticon-sea-urchin:before { content: "\f158"; }
.flaticon-seal-head:before { content: "\f159"; }
.flaticon-skunk-head:before { content: "\f15a"; }
.flaticon-sloth-head:before { content: "\f15b"; }
.flaticon-snake-head:before { content: "\f15c"; }
.flaticon-snigir-head:before { content: "\f15d"; }
.flaticon-sparrow-head:before { content: "\f15e"; }
.flaticon-squirrel-head:before { content: "\f15f"; }
.flaticon-swan-head:before { content: "\f160"; }
.flaticon-tiger-head:before { content: "\f161"; }
.flaticon-turtle-head:before { content: "\f162"; }
.flaticon-wolf-head:before { content: "\f163"; }