:root {
    --background-color: #D7EDC5;
    --container-color: #FFF;
    --link-color: #0870AB;
    --link-hover-color: #01446b;
    --darker-color: #413E42;
    --darker-hover-color: #727171;
    --font-color: #3A3A3A;
    --input-color: #F3F3F3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

#navbar {
    background-color: var(--container-color);
    width: 100%; 
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

#navbar #nav-logo{
    font-family: 'Indie Flower', cursive;
    font-size: 36px;
    margin-left: 2%;
    
    text-decoration: none;
    color: black;
}

#navbar #nav-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

#navbar #nav-user .nav-userpic-area {
    width: 30px;
    height: 30px;
    border-radius: 20px;

    overflow: hidden;
    background-color: white;
    cursor: pointer;
    margin-right: 10px;
}

#navbar #nav-user .nav-userpic-area .nav-userpic {
    max-width: 30px;
    max-height: 30px;
}

.nav-userpic-area, #btn-config, .vertical-bar, .logout {
    margin: 0 5px;
}

#navbar #nav-user #btn-config {
    transition: 0.2s;
    cursor: pointer;
    vertical-align:-20%;
}

#navbar #nav-user #btn-config:hover {
    filter: opacity(50%);
}

.vertical-bar {
    height: 30px;
    width: 1px;
    background-color: var(--darker-color);
}

#navbar #nav-user .logout {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

#navbar #nav-user .logout:hover {
    color: var(--darker-color);
}