* {
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: var(--background-color);
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
}

/* Login */

section#slogan {
    width: 470px;
    height: 315px;
    font: 400 36px Roboto, sans-serif;
    color: var(--font-color);
    
    margin-right: 40px;
}

.slogan-text + .slogan-text {
    margin-top: 36px;
}

img.paw-icon {
    width: 60px;
    transform: rotate(-45deg);
    margin-bottom: 10px;
}

/* Utilidade */

.container, .mini-container {
    background-color: var(--container-color);
    width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 2px 2px 2px var(--darker-color);
    border-radius: 3px;
}

.container {
    height: 350px;
    flex-direction: column;
    
}

.mini-container {
    height: 55px;
}

.container + .mini-container {
    margin-top: 20px;
}

.container p {
    font: 16px Roboto, sans-serif;
}

.bar {
    width: 200px;
    height: 1px;
    background-color: var(--darker-color);
    position: inherit;
    margin-top: 10%;
}

a, .mini-container p {
    text-decoration: none;
    font: 14px Roboto, sans-serif;
}

a.link {
    margin-top: 15px;
    color: var(--link-color);
    transition: 0.2s;
}

a.link:hover {
    color: var(--link-hover-color);
}

.mini-container p a.link {
    font-weight: bold;
}

/* Login */
.login-box {
    position: relative;
    z-index: 0;
}

#pet-login {
    position: absolute;
    z-index: -1;
    margin-top: -100px;
    margin-left: 40px;
}

.form-login {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-input, .btn-login {
    width: 250px;
    border: none;
    border-radius: 3px;

    font: 16px Roboto, sans-serif;
}

.form-input {
    background-color: var(--input-color);
    padding-left: 20px;
    height: 30px;
}

.form-input + .form-input {
    margin-top: 10px;
}

.btn-login {
    background-color: var(--darker-color);
    margin-top: 10%;
    color: white;
    height: 35px;
    
    cursor: pointer;
    transition: 0.2s;
}

.btn-login:hover {
    background-color: var(--darker-hover-color);
}

.box-mensagem {
    padding: 2%;
    margin-bottom: 2%;
    border: 1px solid rgb(196, 12, 12);
    border-radius: 2px;
    width: 100%;
    text-align: center;
    background-color: rgba(252, 67, 67, 0.808);
    color: rgb(124, 4, 4);
}

.box-mensagem p{
    text-shadow: 0.03em 0.04em 0.01em rgb(224, 117, 117)
}


.box-mensagem-success{
    border: 1px solid rgb(49, 196, 12) !important;
    background-color: rgba(119, 250, 152, 0.808) !important;
    color: rgb(4, 124, 10) !important;
}

.box-mensagem-success p{
    text-shadow: 0.03em 0.04em 0.01em rgb(117, 224, 122) !important;
}

.hidden {
    opacity: 0%;
    transition-duration: 2s;
}


@media screen and (max-width: 950px) {
    section#slogan {
        width: 400px;
        font-size: 30px;
    }
}

@media screen and (max-width: 750px) {
    section#slogan {
        display: none;
    }
}