ul{
    list-style-type: none;
}

.display-block{
    display: block;
}

.display-none{
    display: none;
}

body{
    background-color: var(--background-color);
    font-family: Roboto, sans-serif;
    position: relative;
}

main{
    padding: 5% 10% 10% 30%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

section{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3.8px;
    box-shadow: 0px 0px 15px #0000002e;
}

.posts{
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post + .post {
    margin-top: 60px;
}

.info-post{
    display:flex;
    justify-content:space-between;
}

.profile-info{
    display: flex;
}

.profile-photo{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 5px;
}

.user-pet-name{
    display: flex;
    flex-direction: column;
}

#pet-name{
    font-size: 14px;
}

.date-post{
    font-size:14px;
}

.desc-n-menu{
    padding: 15px 3px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.dropdown-post-menu{
    position: relative;
}

.menu-icon{
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    padding: 0 6px;
    background-color: rgba(0,0,0,0);
    transition: 0.4s;
}

.menu-icon:hover{
    background-color: rgba(0,0,0,0.2);
}

.dropdown-post-list{
    position: absolute;
    left: -90px;
    top: 25px;
    background-color: #fff;
    color: #000;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 12px;
    width: 120px;
}

.dropdown-post-list:before{
    content: "";
    width: 13px;
    height: 13px;
    background-color: #fff;
    border: 1px solid #bbb;
    border-right: none;
    border-bottom: none;
    transform: rotate(45deg);
    position: absolute;
    top: -7px;
    left: 95px;
    border-bottom-right-radius: 100%;
}

.dropdown-post-list ul{
    margin: 0;
    padding: 3px 0;
}

.dropdown-post-list li{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.dropdown-post-list li:hover{
    background-color: #eee;
    cursor: pointer
}

/* .dropdown-post-menu:hover .dropdown-post-list{
    display: block;
} */

.post-photo{
    width: 500px;
    height: 300px;
    /*background-color: #ccc;*/
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.post-photo img{
    height: 100%;
}

.post-likes{
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

#like-icon{
    width: 24px;
    height: 24px;
    background-size: contain;
    margin-right: 8px;
    cursor: pointer;
}

#like-icon:active{
    transform: scale(1, 1.3);
}

.line{
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

.comments{
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.comment-content{
    display: flex;
    flex-direction:column;
    width: 100%;
    padding: 5px 0;
}

.comment-info{
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}

.comment-text{
    margin-bottom: 0;
    background-color:#ddd;
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
    width: 100%;
    word-wrap:break-word;
}

.comment-user-photo{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 3px;
}

.dropdown-comment-menu{
    position: relative;
}

.dropdown-comment-list{
    position: absolute;
    top: 25px;
    right: -6px;
    z-index: 10;
    background-color: #fff;
    color: #000;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 12px;
    width: 120px;
}

.dropdown-comment-list:before{
    position: absolute;
    top: -7px;
    left: 95px;
    content: "";
    width: 13px;
    height: 13px;
    background-color: #fff;
    border: #bbb 1px solid;
    transform: rotate(45deg);
    border-right: none;
    border-bottom: none;
    border-bottom-right-radius: 100%;
}

/* .dropdown-comment-menu:hover .dropdown-comment-list{
    display: block;
} */

.dropdown-comment-list ul{
    padding: 3px 0;
    margin: 0;
}

.dropdown-comment-list li{
    padding: 5px;
    border-radius: 5px;
}

.dropdown-comment-list li:hover{
    background-color: #ddd;
    cursor: pointer;
}

.write-comments{
    margin-top: 10px;
}

.write-comments form{
    position: relative;
    display: flex;
    align-items: center;
}

#message{
    resize: none;
    height: 40px;
    outline: none;
    padding: 0 30px 0 5px;
    width: 100%;
    border: 1px solid #aaa;
}

#send-comment{
    position: absolute;
    right: 0;
    width: 30px;
    border: none;
    height: 40px;
    background-color: rgba(0,0,0,0);
    transition: 0.4s;
}

#send-comment:hover{
    background-color: rgba(0,0,0,0.2);
}

.navigation{
    width: 250px;
    padding: 20px;
}

#explore{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-image: linear-gradient(to right, #d6eec6, #cecece00);
    transition: 2s;
    color: #000;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
}

.categories-title{
    font-size: 18px;
    margin-bottom: 10px;
}

#adoption, #lost-animals{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-image: linear-gradient(to right, #d6eec6, #cecece00);
    transition: 0.3s;
    color: #000;
    border-radius: 3px;
    cursor: pointer;
}

#adoption{
    margin-bottom: 3px;
}

.nav-btns{
    border: 1px solid #fff;
}

#explore:hover, #adoption:hover, #lost-animals:hover{
    cursor: pointer;
    border: #327e00 1px solid;
    background-image: none;
    background-color: #fff;
}

.copyright{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 12px;
    text-shadow: 1px 1px #ffffff;
    color: #679649;
}   

.copyright span:first-child{
    margin-bottom: 3px;
}

button.icon {
    display: none;
}
  
/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #navigation-links-mobile {
    display: none;
    z-index: 101;
    flex-direction: column;
    min-width: 155px;
}

/* RELACIONADO AO MODAL */
#btn-new-post {
    background-color: white;
    width: 50px;
    height: 50px;

    position: fixed;
    bottom: 30px;
    right: 30px;

    border-radius: 50%;
    border: none;
    transition: 0.2s;
}

#btn-new-post:hover {
    background-color: #c0c0c0;
}
/*  */

@media (max-width: 1000px){
    .navigation{
        display: none;
    }

    main{
        padding: 7% 10% 0% 20%;
    }

        /* Style the navigation menu */
    .topnav {
        top: 50px;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        border-radius: 0 0 5px 0; 
        z-index: 101;
    }
    
    
    /* Style navigation menu links */
    .topnav a.menu-mobile-item {
        padding: 10px;
        text-decoration: none;
        color: white;
        font-size: 17px;
        display: block;
        /* position: absolute; */
        /* margin-top: 500px; */
        transition: 0.2s;
    }

    /* .topnav h5 {
        color: rgb(12, 12, 12);
        background-color: #b9b9b9;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        display: block;
    } */

    /* Style the hamburger menu */
    button.icon {
        width: 40px;
        height: 40px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        position: fixed;
        background-color: unset;

        top: 5px;
        left: 5px;
        font-size: 30px;
        color: white;
        z-index: 101;
        transition: 0.2s;

        overflow: hidden;

        border: 1px solid white;
        border-radius: 5px;
    }

    button.icon:hover {
        background-color: white;
        color: black;
    }

    button.icon .mobile-bars {
        margin: 0;
        width: 100%;
        height: 25%;

        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 7px;
        transition: 0.2s;
    }
    
    /* Add a grey background color on mouse-over */
    .topnav a.menu-mobile-item:hover {
        background-color: #ddd;
        color: black;
    }
    
    /* Style the active link (or home/logo) */
    .active {
        background-color: #04AA6D;
        color: white;
    }

    #navbar #nav-logo{
        margin-left: 60px;
    }
        
}

@media (max-width: 600px){
    main{
        padding: 10% 10% 0% 0%;
    }

}

