:root {
    --background-color: #D7EDC5;
    --container-color: #FFF;
    --link-color: #0870AB;
    --link-hover-color: #01446b;
    --darker-color: #413E42;
    --darker-hover-color: #727171;
    --font-color: #3A3A3A;
    --input-color: #F3F3F3;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

input, button, select{
    outline: none;
}

input[type="file"]{
    display: none;
}

body{
    font-family: Roboto,sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
}

header{
    background-color: var(--darker-color);  
    height: 50px;
    width: 100%;
}

header .logo{
    font-family: 'Indie Flower', cursive;
    font-size: 36px;
    margin-left: 2%;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main .sections-container{
    /*padding: 0 8%;*/
    margin: 4% 0 2% 0;
    display: flex;
    justify-content: space-between;
}

main section{
    background-color: var(--container-color);
    width: calc(97%/3);
    border: none;
    border-radius: 3px;
    position: relative;
    padding: 2% 5% 6% 5%;
    transition: 0.5s;
}

main section:hover{
    transform: scale(1.05,1.05);
}

.left-form-container .description{
    text-align: center;
    margin-bottom: 50px;
}

.left-form-container .description span{
    display: inline-block;
    margin-bottom: 10px;
}

.left-form-container .description span:first-of-type{
    font-size: 20px;
    font-weight: 600;
}

section input, section select{
    margin-bottom: 10px;
    padding-left: 15px;
    width: 100%;
    border-radius: 3px;
    border: 1px #ccc solid;
    background-color: var(--input-color);
}

section select{
    padding:7px;
}

section input{
    padding: 7px 7px 7px 10px;
}


input::placeholder, select, select option, input[type="date"]{
    font-size: 16px;
    opacity: 100%;
    color: #777;
}

/*input[type="password"]{
    background-image: url('../assets/img/animals_icons/111646-fauna/png/bulldog-head.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95%;
}*/

/*select#animal option[value="1"]{
    background-image: url('../assets/img/animals_icons/111646-fauna/png/bulldog-head.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95%;
}*/

.middle-form-container .description, .right-form-container .description{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

section label{
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
    align-items: center;
    cursor: pointer;
}

section label:hover div{
    background-color: var(--darker-hover-color);
    transition: 0.2s;
}

section label div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: var(--input-color);
    font-family: Arial;
    background-color: var(--darker-color);
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: none;
    margin-right: 8px;
}

main button{
    background-color: var(--darker-color);
    color: var(--input-color);
    width: 270px;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

main button:hover{
    background-color: var(--darker-hover-color);
}

#file-input1, #file-input2{
    display: none;
}

footer{
    font-size: 1rem;
    color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    background-color: var(--darker-color);
    z-index: 300;
}

@media (min-width:1000px){
    .cat{
        position: absolute;
        width: 100px;
        height: 100px;
        background-image: url("../../assets/img/gato_registrar.png");
        background-repeat: no-repeat;
        background-size: cover;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 200;
    }
}

@Media (min-width:600px){
    main .sections-container{
        padding: 0 8%;
    }
}

@media (max-width: 1000px){
    .left-form-container{
        /*text-align: center;*/
        /*margin:auto;*/
        width:150%;
        /*padding-right:5px;*/
        /*left: 0%;*/
        top:100px;
    }

    .middle-form-container{
        text-align: center;
       /* margin:auto;*/
        width:80%;
        position:absolute;
        
        left: 10%;
        top:600px;
    }

    .right-form-container{
        text-align: center;
        /* margin:auto;*/
         width:80%;
         position:absolute;
         
         left: 10%;
        top:1100px;
        padding-bottom: 130px;
    }

    .cat-responsive{
        position: absolute;
        width: 100px;
        height: 100px;
        background-image: url("../../assets/img/gato_registrar.png");
        background-repeat: no-repeat;
        background-size: cover;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 200;
    }

    footer{
        font-size: 1rem;
        color: #fff;
        /*padding:-100px;*/
        position: fixed;
        bottom: 0px;
        background-color: var(--darker-color);
    }
}

@media (max-width: 600px){
    .left-form-container{
        width:100%;
        left:0%;   
    }

    .middle-form-container{
        width:100%;
        left:0%;
        top:550px;
    }

    .right-form-container{
        width:100%;
        left:0%;
        top:975px;
    }

    .left-form-container .inputs-container{
        padding: 20px 20px;
    } 
}