ul{
    list-style-type: none;
}

.myDropdown-menu{
    position: relative;
}

.myDropdown-list{
    display: none;
    position: absolute;
    left: -100px;
    top: -5px;
    background-color: #bbb;
    width: 110px;
}

.myDropdown-list ul{
    margin: 0;
    padding: 0;
}

.myDropdown-list li{
    width: 100%;
    text-align:center;
    padding: 10px;
}

.myDropdown-list li:hover{
    background-color: #eee;
    cursor: pointer
}

.myDropdown-menu:hover .myDropdown-list{
    display: block;
}

body{
    background-color: var(--background-color);
    font-family: Roboto, sans-serif;
}

main{
    padding: 5% 10% 10% 30%;
    display: flex;
    justify-content: space-between;
}

section{
    background-color: #fff;
    padding: 10px;
}

.info-post{
    display:flex;
    justify-content:space-between;
}

.profile-info{
    display: flex;
}

.profile-photo{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 5px;
}

.user-pet-name{
    display: flex;
    flex-direction: column;
}

.desc-n-menu{
    padding: 15px 3px;
    display: flex;
    justify-content:space-between;
}

.post-photo{
    width: 500px;
    height: 300px;
    background-color: #ccc;
    margin-bottom: 10px;
}

.comments{
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.comment-user-photo{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 3px;
}

.write-comments{
    margin-top: 10px;
}

write-comments form{
    position: relative;
    display: flex;
    align-items: center;
}

#message{
    resize: none;
    height: 40px;
    outline: none;
    padding: 3px;
    width: 100%;
}

.navigation{
    height: 160px;
    width: 250px;
}

#explore{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    color: #fff;
    background-color: var(--darker-color);
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
}

.categories-title{
    margin-bottom: 3px;
}

#adoption, #lost-animals{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: #fff;
    background-color: var(--darker-color);
    border-radius: 3px;
    cursor: pointer;
}

#adoption{
    margin-bottom: 3px;
}

.copyright{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.copyright span:first-child{
    margin-bottom: 3px;
}